DirectoryIndex index.php
ErrorDocument 404 /error-404.php
AddDefaultCharset utf-8

RewriteEngine On
RewriteRule  ^inicio$ /index.php [QSA,L]
RewriteRule  ^procontrol$ /serie-procontrol.php [QSA,L]
RewriteRule  ^oficinas$ /sucursales.php [QSA,L]
RewriteRule  ^novedades$ /productos-nuevos.php [QSA,L]
RewriteRule  ^fdrive$ /f-drive.php [QSA,L]
RewriteRule  ^nosotros$ /acerca-de.php [QSA,L]
RewriteRule  ^servicios$ /servicios-vde.php [QSA,L]
RewriteRule  ^energiarenovable$ /fotovoltaicos.php [QSA,L]
RewriteRule  ^ax$ /bombas-AX.php [QSA,L]
RewriteRule  ^anexo$ /federatas.php [QSA,L]
RewriteRule  ^aviso-nov-2012$ /ajustes-nov-2012.php [QSA,L]
RewriteRule  ^aviso-mar-2013$ /ajustes-mar-2013.php [QSA,L]
RewriteRule  ^aviso-ago-2013$ /ajustes-ago-2013.php [QSA,L]
RewriteRule  ^aviso-sep-2013$ /ajustes-sep-2013.php [QSA,L]
RewriteRule  ^contacto$ /formulario.php [QSA,L]
RewriteRule  ^tipo-de-cambio$ /tipo-d-cambio.php [QSA,L]
RewriteRule  ^diva$ /serie-diva.php [QSA,L]
RewriteRule  ^scala$ /serie-scala.php [QSA,L]
RewriteRule  ^kor$ /serie-kor.php [QSA,L]
RewriteRule  ^job$ /serie-job.php [QSA,L]
RewriteRule  ^tanques-aquapak$ /tanques-aq.php [QSA,L]
RewriteRule  ^prox$ /tanques-prox.php [QSA,L]
RewriteRule  ^proxl$ /tanques-proxl.php [QSA,L]
RewriteRule  ^acero$ /tanques-acero.php [QSA,L]
RewriteRule  ^pro$ /tanques-pro.php [QSA,L]
RewriteRule  ^sky$ /tanques-sky.php [QSA,L]
RewriteRule  ^bienvenidos-a-vde$ /Bienvenidos-a-VDE/index.html [QSA,L]
RewriteRule  ^curso$ /formulario-cursos.php [QSA,L]
RewriteRule  ^curso-cancun$ /formulario-curso-fv-cancun.php [QSA,L]
RewriteRule  ^curso-hermosillo$ /formulario-curso-fv-hermosillo.php [QSA,L]
RewriteRule  ^altapres2$ /serie-altapres2.php [QSA,L]
RewriteRule  ^altapres$ /serie-altapres.php [QSA,L]
RewriteRule  ^cable$ /cable-sumergible.php [QSA,L]
RewriteRule  ^manometro$ /manometros.php [QSA,L]
RewriteRule  ^pres10$ /pres-10.php [QSA,L]
RewriteRule  ^presurizadores$ /presurizadores-individules.php [QSA,L]
RewriteRule  ^presion-constante$ /presurizadores-presion-constante.php [QSA,L]
RewriteRule  ^velocidad-constante$ /presurizadores-velocidad-constante.php [QSA,L]
RewriteRule  ^bs$ /serie-bs.php [QSA,L]
RewriteRule  ^max$ /serie-max.php [QSA,L]
RewriteRule  ^amiga$ /serie-amiga.php [QSA,L]
RewriteRule  ^apf$ /serie-apf.php [QSA,L]
RewriteRule  ^apl$ /serie-apl.php [QSA,L]
RewriteRule  ^apld$ /serie-apld.php [QSA,L]
RewriteRule  ^apll$ /serie-apll.php [QSA,L]
RewriteRule  ^apt$ /serie-apt.php [QSA,L]
RewriteRule  ^k$ /serie-k.php [QSA,L]
RewriteRule  ^r$ /serie-r.php [QSA,L]
RewriteRule  ^preskit$ /serie-pres10.php [QSA,L]
RewriteRule  ^t$ /serie-t.php [QSA,L]
RewriteRule  ^tx$ /serie-tx.php [QSA,L]
RewriteRule  ^flotador$ /switch-flotador.php [QSA,L]
RewriteRule  ^switch$ /switch-presion.php [QSA,L]
RewriteRule  ^tableros-presion-constante$ /tableros-control-pc.php [QSA,L]
RewriteRule  ^tableros-velocidad-constante$ /tableros-control.php [QSA,L]
RewriteRule  ^tubos$ /tubos-columna.php [QSA,L]
RewriteRule  ^valvulas$ /valvulas-check.php [QSA,L]
RewriteRule  ^motores$ /motores-aquapak.php [QSA,L]
RewriteRule  ^aly$ /serie-aly.php [QSA,L]
RewriteRule  ^ap$ /serie-ap.php [QSA,L]
RewriteRule  ^fix$ /serie-fix.php [QSA,L]
RewriteRule  ^loop$ /serie-loop.php [QSA,L]
RewriteRule  ^minismart$ /serie-minismart.php [QSA,L]
RewriteRule  ^sigma$ /serie-sigma.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php