.row,
.body,
.container {
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol,
.twelvecol {
  width: auto;
  float: none;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
}
/* Type presets */
body {
  font-size: 16px;
  line-height: 24px;
}
#menu {
  width: 100%;
  margin-top: 0;
  left: 0;
  position: relative;
}
#menu ul {
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
  height: 230px;
}
#menu li {
  float: left;
  width: 99%;
}
#menu #inicio a,
#menu #nosotros a,
#menu #productos a,
#menu #soporte a,
#menu #tienda a,
#menu #contacto a {
  background: #004e7d;
  /* Old browsers */

  background: -moz-linear-gradient(top, #067aad 0%, #347ea6 50%, #005b8d 51%, #002d57 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(50%, #2989d8), color-stop(51%, #207cca), color-stop(100%, #7db9e8));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* IE10+ */

  background: linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
  /* IE6-9 */

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -khtml-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 2px 3px #808080;
  -moz-box-shadow: 3px 2px 3px #808080;
  box-shadow: 3px 2px 3px #808080;
  width: 100%;
}
#menu #inicio a:active,
#menu #nosotros a:active,
#menu #productos a:active,
#menu #soporte a:active,
#menu #tienda a:active,
#menu #contacto a:active,
#menu #inicio a:focus,
#menu #nosotros a:focus,
#menu #productos a:focus,
#menu #soporte a:focus,
#menu #tienda a:focus,
#menu #contacto a:focus,
#menu #inicio a:hover,
#menu #nosotros a:hover,
#menu #productos a:hover,
#menu #soporte a:hover,
#menu #tienda a:hover,
#menu #contacto a:hover {
  background: #b3dced;
  /* Old browsers */

  background: -moz-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b3dced), color-stop(50%, #29b8e5), color-stop(100%, #bce0ee));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  /* IE10+ */

  background: linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=0);
  /* IE6-9 */

}
#menu a {
  color: white;
  display: block;
  font-size: 1.3em;
  font-weight: inherit;
  height: 35px;
  line-height: 1.8em;
  text-align: center;
  text-indent: 0;
  text-shadow: 1px 1px 3px #000000;
  margin: 2px 0;
}
#menu-productos {
  display: none;
  width: 0;
}
#right-header {
  right: 0;
  top: 20px!important;
}
#login {
  font-size: 0.6em;
  line-height: 18px;
}
#header h1 {
  margin: 5px 0 0;
}
#header h2 {
  color: #FFF;
  display: block!important;
  float: left;
  left: 0;
  margin: 18px 10px 10px;
  position: relative;
  text-indent: 0;
  text-shadow: 0 0 2px #FFF;
  top: 0;
  font-size: 1.32em;
}
#header hgroup {
  height: 70px;
}
#header #menu {
  height: 230px;
}
#buscador {
  background: url("../images/sprites.png") no-repeat scroll 4px -255px #ffffff;
  height: 33px;
  margin-top: 10px;
  max-width: 335px;
}
.mod-home {
  float: none;
  margin: 1em auto;
  padding: 0 20px;
  width: 82%;
}
.mod-home span {
  font-size: 1em;
}
.last,
div.last {
  margin-right: auto;
}
#footer {
  position: relative;
  height: auto;
}
#footer span {
  margin: 0 2em 2em;
}
#footer #foot {
  margin-top: 20px;
  position: relative;
}
#footer #foot #redes {
  float: left;
  margin: 30px 0 0;
  width: 70%;
}
#content {
  padding: 1em;
}
#menu-smartphones {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  display: table;
}
.demo-container {
  display: table;
  margin: 15px auto 0;
  width: 400px;
}
.tabs .content .content-1 .fourcol,
.tabs .content .content-2 .fourcol,
.tabs .content .content-3 .fourcol {
  width: 90%;
}
/* men� acordi�n Smartphones------------------------------------------------------*/.demo-dd .dd-wrapper {
  background: #efefef;
  border: 1px solid #ccc;
  line-height: 1em;
}
.demo-dd .dd-wrapper h3 span {
  display: none;
}
.demo-dd .dd-menu {
  border-top: 1px solid #bbb;
}
.demo-dd .dd-menu a {
  text-decoration: none;
  color: #222;
  padding: 8px 10px;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #fff;
}
.demo-dd .dd-menu a:hover {
  color: #990000;
  background: #fff;
}
.demo-dd .dd-menu li a .dd-icon {
  display: block;
  width: 19px;
  height: 19px;
  background: url(images/icon_arrows.png) no-repeat 0 -19px;
  position: absolute;
  top: 6px;
  right: 10px;
}
.demo-dd .dd-menu li {
  margin: 0;
}
.demo-dd .dd-menu li.last {
  border-bottom: 1px solid #fff;
}
.demo-dd .dd-menu li a .dd-count {
  position: absolute;
  top: 8px;
  right: 40px;
}
.demo-dd .dd-menu li.dd-parent li a {
  padding: 8px 10px 8px 25px;
}
.demo-dd .dd-menu li.dd-parent li a.dd-parent-a {
  padding: 8px 10px;
  background: url(images/bg_clean_on.png) repeat-x 0 0;
}
.demo-dd .dd-menu li.dd-parent a.active {
  background: url(images/bg_clean.png) repeat-x 0 0;
}
.demo-dd .dd-menu li.dd-parent a:hover .dd-icon {
  background-position: 0 0;
}
.demo-dd .dd-menu li.dd-parent a.active .dd-icon {
  background-position: 0 -38px;
}
.demo-dd .dd-menu li.dd-parent a.active {
  color: #000;
  background-color: #ccc;
}
.demo-dd .dd-header {
  font-size: 0.8em;
}
.demo-dd .dd-header ul {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #bbb;
  padding: 5px 0;
}
.demo-dd .dd-header li {
  display: inline;
}
.demo-dd .dd-header li a {
  text-decoration: none;
  float: left;
  display: block;
  padding: 1px 15px 1px 5px;
  background: url(images/arrow_red_right.png) no-repeat 100% center;
  color: #222;
}
.demo-dd .dd-header li a:hover {
  color: #000;
  text-decoration: underline;
}
.demo-dd .dd-header a.link-back {
  text-decoration: none;
  display: block;
  padding: 5px 10px 0 20px;
  background: url(images/arrow_red_left.png) no-repeat 0 center;
  color: #222;
}
.demo-dd .dd-header h3 {
  clear: both;
  padding: 5px 10px;
  margin: 0;
  font-size: 13px;
}
.demo-dd .dd-header h3 .dd-count {
  display: none;
}
/* Drill Down Menu Styles */
.dd-wrapper ul,
.dd-wrapper ul li,
.dd-wrapper li,
.dd-wrapper li ul,
.dd-wrapper li ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dd-wrapper .dd-menu {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.dd-wrapper .dd-menu ul {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.dd-wrapper .dd-menu a {
  display: block;
}
.graphite .dd-wrapper {
  color: #fff;
  margin: 0 auto;
}
.graphite .dd-menu a {
  text-decoration: none;
  padding: 0 0 0 50px;
  display: block;
  color: #005386;
  position: relative;
  border: 0;
}
.graphite .dd-menu a:hover {
  background: #232323;
  color: #fff;
}
.graphite .dd-menu li a .dd-icon {
  position: absolute;
  top: 50%;
  left: 14px;
  width: 33px;
  margin-top: -15px;
  height: 31px;
  background: url(../images/arrow_black_right.png) no-repeat 0 center;
}
.graphite .dd-menu li.dd-parent a.dd-parent-a {
  background: #004e7d;
  /* Old browsers */

  background: -moz-linear-gradient(top, #067aad 0%, #347ea6 50%, #005b8d 51%, #002d57 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(50%, #2989d8), color-stop(51%, #207cca), color-stop(100%, #7db9e8));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* IE10+ */

  background: linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
  /* IE6-9 */

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -khtml-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 2px 3px #808080;
  -moz-box-shadow: 3px 2px 3px #808080;
  box-shadow: 3px 2px 3px #808080;
  width: 86%;
  border-bottom: 0;
  color: #ffffff;
  display: block;
  font-size: 1.3em;
  font-weight: inherit;
  height: 35px;
  line-height: 1.8em;
  margin: 0 0 10px;
  text-align: center;
  text-indent: 0;
  text-shadow: 1px 1px 3px #ffffff;
  text-shadow: 1px 1px 3px #000000;
}
.graphite .dd-menu li.dd-parent a:hover {
  background: #b3dced;
  /* Old browsers */

  background: -moz-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b3dced), color-stop(50%, #29b8e5), color-stop(100%, #bce0ee));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  /* IE10+ */

  background: linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=0);
  /* IE6-9 */

}
.graphite .dd-menu li.dd-parent a.active .dd-icon {
  background: url(images/arrow_black_down.png) no-repeat 0 center;
}
.graphite .dd-menu li.dd-parent a.active {
  color: #fff;
  background: #111;
}
.graphite .dd-header {
  font: normal 11px Arial, sans-serif;
}
.graphite .dd-header ul {
  width: 100%;
  overflow: hidden;
  line-height: 1.5em;
  padding: 5px 10px;
}
.graphite .dd-header li {
  display: inline;
}
.graphite .dd-header li a {
  text-decoration: none;
  float: left;
  display: block;
  padding: 1px 15px 1px 5px;
  background: url(images/arrow_white_right.png) no-repeat 100% center;
  color: #fff;
}
.graphite .dd-header li a:hover {
  color: #fff;
  text-decoration: underline;
}
.graphite .dd-header a.link-back {
  text-decoration: none;
  display: block;
  padding: 5px 10px 0 20px;
  background: url(../images/arrow_white_left.png) no-repeat 5px center;
  color: #005386;
  border-bottom: 0;
}
.graphite .dd-header h3 {
  clear: both;
  padding: 5px 10px;
  margin: 0;
  font-size: 1.1em;
  color: #005386;
}
.graphite .dd-header h3 .dd-count {
  display: none;
}
#drilldown-1 {
  min-height: 450px;
}
#col-filtros {
  display: none;
}
#col-filtrosSP {
  width: 97%;
  margin-bottom: 2em;
  display: block;
}
#col-filtrosSP a:link,
#col-filtrosSP a:visited {
  border-bottom: 0;
  color: #ffffff;
  margin: 0 auto;
  max-width: 390px;
}
#col-filtrosSP select {
  display: table;
  margin: 10px auto;
  max-width: 390px;
  width: 100%;
}
#col-filtrosSP .flujo {
  margin: 0 auto;
  max-width: 390px;
  width: 100%;
}
#btn-filtros {
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 420px;
}
#btn-filtros a:link,
#btn-filtros a:visited {
  border-bottom: 0;
  color: #fff;
}
#btn-filtros p {
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.a_demo_one {
  background-color: #3bb3e0;
  padding: 10px;
  font-size: 18px;
  text-shadow: 1px 1px 2px #000000;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border: solid 1px #186f8f;
  background-color: #0cafc5;
  background: -webkit-gradient(linear, left top, left bottom, from(#0cafc5), to(#00899c));
  background: -webkit-linear-gradient(top, #0cafc5, #00899c);
  background: -moz-linear-gradient(top, #0cafc5, #00899c);
  background: -ms-linear-gradient(top, #0cafc5, #00899c);
  background: -o-linear-gradient(top, #0cafc5, #00899c);
  -webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #ffffff;
  -moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #ffffff;
  box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: inherit;
}
.a_demo_one::before,
.a_demo_one::link {
  background-color: #ccd0d5;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 8px;
  z-index: -1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
  -moz-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
  -o-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
  box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
}
.a_demo_one:active {
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 11px;
  top: 1px;
  background-color: #00899c;
  background: -webkit-gradient(linear, left top, left bottom, from(#00899c), to(#0cafc5));
  background: -webkit-linear-gradient(top, #00899c, #0cafc5);
  background: -moz-linear-gradient(top, #00899c, #0cafc5);
  background: -ms-linear-gradient(top, #00899c, #0cafc5);
  background: -o-linear-gradient(top, #00899c, #0cafc5);
  color: #00ffff;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  /* Slider */
  #slider {
    min-width: 290px;
    height: auto;
    width: 100%;
  }
  #slider #shadow #left,
  #slider #shadow #right {
    width: 50%;
    margin: 0 auto;
  }
  #slider #slides {
    height: auto;
  }
  .jms-slideshow {
    height: auto;
    min-width: 290px;
  }
  .jms-wrapper {
    height: auto;
    min-width: 290px;
  }
  .jms-wrapper.not-supported .step {
    margin: 10px auto;
  }
  .jms-content {
    width: 250px;
  }
  .step {
    height: 208px;
    width: 100%;
  }
  .step h3 {
    font-size: 1.3em;
    padding-bottom: 5px;
  }
  .step p {
    width: 250px;
  }
  .step img {
    right: -5px;
    top: 82px;
    width: 200px;
  }
  a.jms-link {
    font-size: 0.7em;
    margin-top: 20px!important;
    padding: 3px 15px;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
  #container {
    max-width: 480px;
    min-width: 321px;
  }
  #header h2 {
    font-size: 1.32em;
  }
  #footer #foot #redes {
    width: 75%;
  }
  /* Slider */
  .jms-content {
    margin: 0 0 0 50px;
    padding: 10px;
    width: 400px;
  }
  .step p {
    width: 380px;
  }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
  #container {
    max-width: 320px;
  }
  #header h2 {
    font-size: 0.9em;
  }
  #buscador {
    max-width: 255px;
  }
  #footer #foot #redes {
    margin: 30px 0 0 30px;
    width: 82%;
  }
}
#container {
  width: 100%;
  max-width: 768px;
  min-width: 320px;
}
#container[orient="portrait"] {
  max-width: 320px;
}
/* Slider */
#slider {
  min-width: 290px;
}
#slider #slides {
  height: 188px;
}
.jms-slideshow {
  height: 225px;
}
.jms-wrapper {
  min-width: 290px;
  height: 168px;
}
.jms-dots {
  bottom: -5px;
}
a.jms-link {
  font-size: 30px;
  margin-top: 20px;
  padding: 20px;
}
.color-1,
.color-2,
.color-3,
.color-4,
.color-5 {
  background-size: 125% auto;
}
.step p {
  font-size: 2em;
  width: 380px;
}
