body {
  font-size: 0.8em;
  /* Makes type a bit smaller at 1024 so layout doesn't look unbalanced */

  line-height: 1.5em;
  /* As above */

}
#container {
  width: 100%;
  max-width: 1024px;
  min-width: 750px;
}
#container[orient="portrait"] {
  max-width: 768px;
}
#header {
  background: url("../images/bkg-header.png") repeat-x scroll 0 -8px transparent;
}
#right-header {
  float: left;
  width: 100%;
  position: relative;
}
#buscador {
  float: none;
  margin: 5px auto 1em;
}
#slider {
  min-width: 725px;
}
#slider #shadow #left,
#slider #shadow #right {
  width: 50%;
}
#slider #slides {
  height: 400px;
}
#content {
  padding: 1em 1em 325px;
}
#footer {
  background-image: none;
  background-color: #00899c;
  background: -webkit-gradient(linear, left top, left bottom, from(#00899c), to(#024a7a));
  background: -webkit-linear-gradient(top, #00899c, #024a7a);
  background: -moz-linear-gradient(top, #00899c, #024a7a);
  background: -ms-linear-gradient(top, #00899c, #024a7a);
  background: -o-linear-gradient(top, #00899c, #024a7a);
  box-shadow: 0 0 10px #666666;
  height: 320px;
}
#footer #foot {
  background-color: #00295d;
  background: -webkit-gradient(linear, left top, left bottom, from(#00295d), to(#000426));
  background: -webkit-linear-gradient(top, #00295d, #000426);
  background: -moz-linear-gradient(top, #00295d, #000426);
  background: -ms-linear-gradient(top, #00295d, #000426);
  background: -o-linear-gradient(top, #00295d, #000426);
  padding: 1em 0;
  bottom: 0;
}
.jms-wrapper {
  height: 380px;
}
#menu {
  top: 19px;
}
.st-content {
  font-size: 0.8em;
}
#col-filtros {
  width: 30%;
}
#col-filtrosSP {
  display: none;
}
#col-tabs {
  width: 65%;
}
#col-des {
  width: 98%;
  margin: 1%;
}
#col-des .logos img {
  margin: 10px 2%;
  width: 20%;
}
/*small screens ----------- */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  body {
    background: url("../images/bkgx2.jpg") repeat-x scroll center top transparent;
    background-size: 100% auto;
  }
  #header {
    background: url("../images/bkg-headerx2.png") repeat-x scroll 0 -10px transparent !important;
    background-size: auto 80%;
  }
  #header h1 {
    background: url("../images/spritesx2.png") no-repeat scroll -238px -24px transparent;
    background-size: 300%;
  }
  #menu a {
    background: url("../images/menux2.png") repeat scroll 0 0 transparent;
  }
  #menu #inicio a,
  #menu #nosotros a,
  #menu #productos a,
  #menu #soporte a,
  #menu #tienda a,
  #menu #contacto a {
    background-size: auto 320%;
  }
  #buscador {
    background: url("../images/spritesx2.png") no-repeat scroll 2px -315px #ffffff;
    background-size: 80% auto;
  }
  .productos,
  .productos-nuevos,
  .soporte,
  .tienda,
  .medio,
  .mapa {
    background-image: url("../images/spritesx2.png") !important;
    background-size: 400% auto;
  }
  .productos {
    background-position: -161px -90px !important;
  }
  .productos-nuevos {
    background-position: -142px 0 !important;
  }
  .soporte {
    background-position: -86px -85px !important;
    background-size: 445% auto;
  }
  .medio {
    background-position: 700px 0!important;
    background-size: 650% auto;
  }
  .tienda {
    background-position: 0 -82px !important;
    height: 74px!important;
    width: 82px!important;
  }
  .mapa {
    background-position: -55px 0 !important;
    background-size: 400% auto;
    height: 88px!important;
    width: 88px!important;
  }
  #redes .face,
  #redes .RSS,
  #redes .tweet,
  #redes .youtube {
    background-image: url("../images/spritesx2.png") !important;
    background-size: 1000% auto !important;
  }
  #redes .face {
    background-position: -260px -70px !important;
  }
  #redes .RSS {
    background-position: -648px -110px !important;
  }
  #redes .tweet {
    background-position: -300px -70px !important;
  }
  #redes .youtube {
    background-position: -258px -110px !important;
  }
  .st-content {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
  #header {
    background-size: 17.5% auto;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
  #container {
    max-width: 768px;
  }
}
