/* Type & image presets */
/* =3 Texto
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
small {
  font-size: 75%;
}
strong,
th {
  font-weight: bold;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.justify {
  text-align: justify;
}
.b {
  font-weight: bold;
}
.i {
  font-style: italic;
}
.n {
  font-weight: normal;
}
.u {
  text-decoration: underline;
}
.t09 {
  font-size: 0.9em;
}
.t10 {
  font-size: 1em;
}
.t11 {
  font-size: 1.1em;
}
.t12 {
  font-size: 1.2em;
}
.t13 {
  font-size: 1.3em;
}
.t14 {
  font-size: 1.4em;
}
.t15 {
  font-size: 1.5em;
}
.t16 {
  font-size: 1.6em;
}
.t17 {
  font-size: 1.7em;
}
.t18 {
  font-size: 1.8em;
}
.t19 {
  font-size: 1.9em;
}
.t20 {
  font-size: 2em;
}
.t30 {
  font-size: 3em;
}
.t40 {
  font-size: 4em;
}
.t50 {
  font-size: 5em;
}
.t60 {
  font-size: 6em;
}
.t70 {
  font-size: 7em;
}
.t80 {
  font-size: 8em;
}
.t90 {
  font-size: 9em;
}
.t100 {
  font-size: 10em;
}
.lh80 {
  line-height: 80%;
}
.lh90 {
  line-height: 90%;
}
.lh100 {
  line-height: 100%;
}
.lh110 {
  line-height: 110%;
}
.lh120 {
  line-height: 120%;
}
.lh130 {
  line-height: 130%;
}
.lh140 {
  line-height: 140%;
}
.lh150 {
  line-height: 150%;
}
.lh160 {
  line-height: 160%;
}
.lh170 {
  line-height: 170%;
}
.lh180 {
  line-height: 180%;
}
.lh190 {
  line-height: 190%;
}
.lh200 {
  line-height: 200%;
}
p {
  margin: 1.2em;
  font-size: 1em;
  line-height: 1.2em;
}
h1 {
  margin: 0.6em 0;
  font-size: 1.8em;
  line-height: 1em;
  font-weight: lighter;
}
h2 {
  margin: 0.7em 0;
  font-size: 1.6em;
  line-height: 1.1em;
  font-weight: lighter;
}
h3 {
  margin: 0.8em 0;
  font-size: 1.4em;
  line-height: 1.2em;
  font-weight: normal;
}
h4 {
  margin: 0.9em 0;
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: bold;
}
h5 {
  margin: 1em 0;
  font-size: 1em;
  line-height: 1.1em;
  font-weight: bolder;
}
h6 {
  margin: 1.1em 0;
  font-size: 0.9em;
  line-height: 1em;
  font-weight: bolder;
}
.small {
  margin: 0 0 1.875em;
  font-size: 0.8em;
  line-height: 1.875em;
}
.large {
  margin: 0 0 1.25em;
  font-size: 1.2em;
  line-height: 2.5em;
}
.blanco {
  color: #ffffff;
}
.gris {
  color: #808080;
}
.negro {
  color: #000000;
}
.naranja {
  color: #ffa500;
}
.aqua {
  color: #00ffff;
}
.azul {
  color: #005386;
}
.fuchsia {
  color: #ff00ff;
}
.verde {
  color: #008000;
}
.lima {
  color: #00ff00;
}
.marron {
  color: #800000;
}
.marino {
  color: #272741;
}
.olivo {
  color: #808000;
}
.purpura {
  color: #800080;
}
.rojo {
  color: #ff0000;
}
.tinto {
  color: #8a1f11;
}
.plata {
  color: #c0c0c0;
}
.amarillo {
  color: #ffff00;
}
.rosa {
  color: #ffc0cb;
}
.crema {
  color: #fff6bf;
}
a img {
  display: block;
  /* Stops image links getting text link styles */

}
img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;
}
p,
ul,
ol,
blockquote {
  margin-bottom: 24px;
  /* Changing this will break the baseline grid. */

}
li {
  margin-bottom: 6px;
}
blockquote {
  border-left: 1px solid #808080;
  color: #333333;
  padding-left: 15px;
  margin-left: 1px -16;
}
