/* The 1140px Grid by Andy Taylor – http://cssgrid.net – http://www.twitter.com/andytlr – http://www.catchingzebra.com */
.row {
  width: 100%;
  max-width: 1140px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  overflow: hidden;
}
.onecol {
  margin-right: 3.799999999999997%;
  float: left;
  width: 4.85%;
}
.twocol {
  margin-right: 3.799999999999997%;
  float: left;
  width: 13.5%;
}
.threecol {
  margin-right: 3.799999999999997%;
  float: left;
  width: 22.15%;
}
.fourcol {
  margin-right: 3.799999999999997%;
  float: left;
  width: 30.8%;
}
.fivecol {
  margin-right: 3.799999999999997%;
  float: left;
  width: 39.45%;
}
.sixcol {
  margin-right: 3.799999999999997%;
  float: left;
  width: 48.1%;
}
.sevencol {
  margin-right: 3.799999999999997%;
  float: left;
  width: 56.75%;
}
.eightcol {
  margin-right: 3.799999999999997%;
  float: left;
  width: 65.4%;
}
.ninecol {
  margin-right: 3.799999999999997%;
  float: left;
  width: 74.05%;
}
.tencol {
  margin-right: 3.799999999999997%;
  float: left;
  width: 82.7%;
}
.elevencol {
  margin-right: 3.799999999999997%;
  float: left;
  width: 91.35%;
}
.twelvecol {
  margin-right: 3.799999999999997%;
  float: left;
  width: 100%;
}
.last {
  margin-right: 0;
}
img,
object,
embed {
  max-width: 100%;
}
/* iPad 3 (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
  body {
    background: url("../images/bkgx2.jpg") repeat-x scroll center top transparent;
    background-size: 15% auto;
  }
  #header {
    background: url("../images/bkg-headerx2.png") repeat-x scroll 0 -13px transparent !important;
    background-size: auto 100%;
  }
  #header h1 {
    background: url("../images/spritesx2.png") no-repeat scroll -240px -25px transparent !important;
    background-size: 350% auto!important;
    height: 45px!important;
  }
  #login {
    margin-bottom: 5px;
  }
  #menu a {
    background-image: url("../images/menux2.png") !important;
  }
  #menu #inicio a,
  #menu #nosotros a,
  #menu #productos a,
  #menu #soporte a,
  #menu #tienda a,
  #menu #contacto a {
    background-size: auto 320%!important;
  }
  #buscador {
    background: url("../images/spritesx2.png") repeat scroll 2px 40px #ffffff !important;
    background-size: 150% auto!important;
  }
  .productos,
  .productos-nuevos,
  .soporte,
  .tienda,
  .medio,
  .mapa {
    background-image: url("../images/spritesX2.png") !important;
    background-size: 400% auto;
  }
  .productos {
    background-position: -173px -96px !important;
    background-size: 400% auto;
    height: 69px;
    width: 89px;
  }
  .productos-nuevos {
    background-position: -150px -4px;
  }
  .soporte {
    background-position: -86px -88px !important;
    background-size: 428% auto;
  }
  .medio {
    background-position: 686px -2px !important;
    background-size: 640% auto;
  }
  .tienda {
    background-position: -3px -90px !important;
    height: 74px!important;
  }
  .mapa {
    background-position: -60px -4px !important;
    background-size: 400% auto;
    height: 88px!important;
  }
  #redes .face,
  #redes .RSS,
  #redes .tweet,
  #redes .youtube {
    background-image: url("../images/spritesx2.png") !important;
    background-size: 1000% auto !important;
  }
  #redes .face {
    background-position: -272px -77px !important;
  }
  #redes .RSS {
    background-position: -662px -120px !important;
  }
  #redes .tweet {
    background-position: -314px -77px !important;
  }
  #redes .youtube {
    background-position: -271px -120px !important;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .row {
    max-width: 1800px;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
  .row {
    max-width: 2000px;
  }
  .mod-home {
    width: 31%!important;
  }
}
