.step p {
  font-size: 0.89em;
  width: 150px;
}
.step img {
  position: absolute;
  top: -10px;
}
.jms-content {
  position: relative;
  margin: 0 0 0 10px;
  width: 230px;
  padding: 8px;
}
a.jms-link {
  font-size: 0.8em;
  padding: 2px 5px;
  position: absolute;
  top: 106px;
  left: 160px;
}
/* iPhone  - (landscape) ---------- */
@media only screen and (min-device-width: 321px) and (orientation: landscape), only screen and (max-device-width: 800px) and (orientation: landscape) {
  /* Styles */
  .jms-content {
    width: 410px;
  }
  .step p {
    width: 250px;
  }
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
  body {
    background: url("../images/bkgx2.jpg") repeat-x scroll center top transparent;
    background-size: 250% auto;
  }
  #header {
    background: url("../images/bkg-headerx2.png") repeat-x scroll 0 -8px transparent;
    background-size: 25% auto;
  }
  #header h1 {
    background: url("../images/spritesx2.png") no-repeat scroll -226px -24px transparent;
    background-size: 330%;
  }
  #buscador {
    max-width: 255px;
    background-size: 130% auto;
  }
  #buscador input {
    padding: 0.3em 0;
  }
  .productos,
  .productos-nuevos,
  .soporte,
  .tienda,
  .medio,
  .mapa {
    background-image: url("../images/spritesX2.png") !important;
    background-size: 400% auto;
  }
  .productos {
    background-position: -173px -96px !important;
    background-size: 400% auto;
    height: 69px;
    width: 89px;
  }
  .productos-nuevos {
    background-position: -150px -4px;
  }
  .soporte {
    background-position: -86px -88px !important;
    background-size: 428% auto;
  }
  .medio {
    background-position: 686px -2px !important;
    background-size: 640% auto;
  }
  .tienda {
    background-position: -3px -90px !important;
    height: 74px!important;
  }
  .mapa {
    background-position: -60px -4px !important;
    background-size: 400% auto;
    height: 88px!important;
  }
  #redes .face,
  #redes .RSS,
  #redes .tweet,
  #redes .youtube {
    background-image: url("../images/spritesx2.png") !important;
    background-size: 1000% auto !important;
  }
  #redes .face {
    background-position: -272px -77px !important;
  }
  #redes .RSS {
    background-position: -662px -120px !important;
  }
  #redes .tweet {
    background-position: -314px -77px !important;
  }
  #redes .youtube {
    background-position: -271px -120px !important;
  }
}
/* iPhone 4 - (landscape) ---------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape), only screen and (min-device-pixel-ratio: 1.5) and (orientation: landscape) {
  /* Styles */
  #header {
    background-size: 17.5% auto;
  }
  #header h2 {
    margin: 15px 10px 0;
  }
  #container {
    max-width: 960px;
  }
  #buscador {
    max-width: 395px;
    padding: 0 20px 0 29px;
    background: url("../images/spritesx2.png") repeat scroll 0 52px #ffffff;
  }
}
/* iPhone 4 - (portrait) ---------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation: portrait) {
  /* Styles */
  #container {
    max-width: 640px;
  }
  #buscador {
    background: url("../images/spritesx2.png") repeat scroll 5px 40px #ffffff;
  }
}
